$primary-color: #EE2C30;
$secondary-color: #FAFAFA;
$secondary-dark-color: #E2E2E2;
$tertiary-color: #333333;
$text-color: #333333;

.primary-color {
  color: $primary-color
}

.secondary-color {
  color: $secondary-color;
}

.secondary-dark-color {
  background-color: $secondary-dark-color;
}

.tertiary-color {
  color: $tertiary-color;
}

.text-color {
  color: $text-color;
}

.primary-background-color {
  background-color: $primary-color;
}

.secondary-background-color {
  background-color: $secondary-color;
}


.tertiary-background-color {
  background-color: $tertiary-color;
}

.text-background-color {
  background-color: $text-color;
}