.eatigo-homepage {
  padding: 5px 5px 5px 5px;
}

.eatigo-icon {
  height: 35px;
  width: 35px;
}

.search-bar {
  width: 70%;
  min-width: 300px;
  max-width: 900px;
  margin: auto;
  justify-content: center;  
}

